@import "../../../utils/styles/colorConstants.scss";

/* The slider itself */
.slider-volume {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px;
  border-radius: 5px;
  background: $MUSIC_BAR_NONFILLED_COLOR; /* Grey background */
  outline: none; /* Remove outline */
  margin-left: 10px;
  margin-top: 5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 50%;
  background: $PLAYLISTS_HEADING_COLOR; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider-volume::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider-container-volume {
  width: 25%; /* Width of the outside container */
  margin-top: 14px;
  margin-right: 50px;
  margin-left: 20px;
  display: flex;
}
