// INVALID FORM ALERT COLORS

$INVALID_FORM_BG_COLOR: rgba(246, 68, 13, 0.9);
$INVALID_FORM_COLOR: #fff;

// HEADING COLOR

$FRIENDS_HEADING_COLOR: #eb4648;
$PLAYLISTS_HEADING_COLOR: #77c4d3;

// SIDE NAVBAR COLORS

$SIDE_NAVBAR_COLORS: #eaeaea;

// PURE COLORs

$PURE_WHITE_COLOR: #ffffff;
$PURE_BLACK_COLOR: #111111;
// MUSIC BAR COLORS

$MUSIC_BAR_NONFILLED_COLOR: #888e96;
$MUSIC_BAR_FILLED_COLOR: crimson;

// HOVER COLORS

$HOVER_COLOR: darkgray;
$HOVER_COLOR_BG: ghostwhite;

// SONG DIV BG COLOR

$SONG_DIV_BG_COLOR: #123672;
$SONG_DIV_TEXT_COLOR: aliceblue;

// MUSIC BAR BG COLOR

$MUSIC_BAR_BG_COLOR: #1b1c25;

// SOLID HEADING COLOR

$SOLID_HEADING_COLOR: rgb(144, 140, 140);
