@import "../../utils/styles/colorConstants.scss";

.login-container {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/images/music-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
  height: -webkit-fill-available;
}

.form-signin {
  padding: 20px 40px;
  text-align: left;
}

.form-lable {
  padding-top: 25px;
}

.form-signin button {
  margin-top: 50px;
}

.invalid-form {
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $INVALID_FORM_COLOR;
  background-color: $INVALID_FORM_BG_COLOR;
  border-radius: 0.25rem;
}
