@import "../../utils/styles/colorConstants.scss";

body {
  background-image: url("../../assets/images/music-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
  height: -webkit-fill-available;
}

.login-register-container {
  text-align: center;
  padding: 3% 5% 3% 3%;
}

.card {
  width: 450px;
  max-width: 540px;
}

.card-img {
  padding-top: 20px;
}

.card-img img {
  width: 100px;
  height: 100px;
}
