@import "../../utils/ConstantKeywords/colorConstants.scss";

.homePageDiv {
  background-image: url("../../assets/images/home-page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
  height: -webkit-fill-available;
}

.upperDiv {
  position: fixed;
  top: 0;
  width: 100%;
  height: 88%;
  margin-left: 0px;
  padding: 0;
}

.musicBar {
  background-color: #1b1c25;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
}

.headerDivLeft,
.headerDivMiddle,
.headerDivRight {
  width: inherit;
  height: 12%;
}

.headerDivLeft {
  background-color: #eb4648;
}
.headerDivMiddle {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
}
.headerDivRight {
  background-color: #77c4d3;
}

.middleCol,
.leftCol,
.rightCol {
  padding: 0px;
}

.leftCol {
  background-color: #eaeaea;
}

.middleCol {
  background-color: #ffffff;
}

.rightCol {
  background-color: #eaeaea;
}

hr {
  margin: 0;
}

.smallDivLeft,
.smallDivMiddle,
.smallDivRight {
  width: inherit;
  height: 100%;
  overflow: auto;
  background: bottom;
}

.musicBar {
  display: flex;
  color: aliceblue;
}

// Slider CSS

.slidecontainerseek {
  width: 100%; /* Width of the outside container */
  margin-top: 12px;
  margin-right: 50px;
  margin-left: 20px;
}

/* The slider itself */
.sliderseek {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderseek::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #eb4648; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderseek::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #eb4648; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidecontainervolume {
  width: 25%; /* Width of the outside container */
  margin-top: 14px;
  margin-right: 50px;
  margin-left: 20px;
  display: flex;
}

/* The slider itself */
.slidervolume {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  margin-left: 10px;
  margin-top: 5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slidervolume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 50%;
  background: #eb4648; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slidervolume::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 50%;
  background: #eb4648; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

// Slider CSS

.musicBar {
  padding: 25px;
}

.previousSong,
.playPauseSong,
.nextSong {
  margin-right: 10px;
}

.dropdown {
  margin-top: 7px;
  margin-left: auto;
  margin-right: 40px;
}

.dropdown-item {
  text-align: center;
}
