@import "../../utils/styles/colorConstants.scss";

.home-page-div {
  background-image: url("../../assets/images/home-page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
}

.music-bar {
  background-color: #1b1c25;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  display: flex;
  color: aliceblue;
  padding: 25px;
}
