@import "../../utils/styles/colorConstants.scss";

.middle-songs-container {
  height: 88%;
}

.songs-div {
  justify-content: center;
  overflow-y: auto;
  height: 88%;
  margin: 0;
}

.song-div {
  margin: 10px;
  border: 2px solid $HOVER_COLOR;
  width: 15rem;
}

.current-address {
  margin-left: 20px;
  color: $SOLID_HEADING_COLOR;
  height: 2%;
}

.song-logo {
  background-color: $SONG_DIV_BG_COLOR;
  height: 150px;
  font-size: 100px;
  text-align: center;
  font-weight: 100;
  color: $SONG_DIV_TEXT_COLOR;
}

.song-div:hover {
  border: 2px solid $SONG_DIV_BG_COLOR;
  background-color: $HOVER_COLOR_BG;
  cursor: pointer;
}

.card-text {
  text-align: center;
  font-size: 15px;
}

.loader-songs {
  color: $SONG_DIV_BG_COLOR;
  margin-top: 25%;
}

.filesubmit {
  justify-content: center;
  height: 7.5%;
  margin: 0;
}

.filesubmit input {
  padding: 9px;
  border-radius: 0px;
  height: 100%;
  width: 70%;
}

.filesubmit button {
  border-radius: 0px;
  height: 100%;
  width: 30%;
}
