@import "../../utils/styles/colorConstants.scss";

.small-div-right {
  text-align: center;
}

.small-div-right {
  width: inherit;
  height: 88%;
  background: bottom;
}

.playlists-container {
  width: inherit;
  height: 92.5%;
  overflow: auto;
}

a {
  text-decoration: none !important;
}

.playlist-element {
  margin-top: 20px;
  padding: 12px;
  background-color: inherit;
  height: 50px;
  color: $PURE_BLACK_COLOR;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.playlist-element:hover {
  background-color: $HOVER_COLOR;
}

.button-class {
  padding: 12px;
  height: 50px;
  font-size: 18px;
  background-color: $MUSIC_BAR_FILLED_COLOR;
}

.button-class button {
  color: $PURE_WHITE_COLOR;
  background-color: inherit;
  border: 0;
  width: 100%;
}

.button-class:hover {
  background-color: $INVALID_FORM_BG_COLOR;
}
