@import "../../../utils/styles/colorConstants.scss";

.song-name-music-bar {
  display: flex;
  margin-right: 20px;
  width: 500px;
}

.song-name-music-bar img {
  min-height: 70px;
  max-height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: -10px;
}

.song-image-bar {
  background-color: $SONG_DIV_BG_COLOR;
  text-align: center;
  color: $SONG_DIV_TEXT_COLOR;
  padding-top: 10px;
  font-size: 30px;
  min-height: 70px;
  max-height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: -10px;
}
