@import "../../utils/styles/colorConstants.scss";

.header-div-middle {
  background-color: $PURE_WHITE_COLOR;
  padding: 15px;
  display: flex;
  width: inherit;
  height: 12%;
}

.input-group {
  margin-top: 12px;
  margin-left: 20px;
  width: 30%;
}

.user-details {
  margin-left: auto;
}

.user-details a {
  margin-left: 10px;
  color: $SOLID_HEADING_COLOR;
}

.user-details img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.header-div-middle button {
  margin-top: 12px;
  height: 38px;
  margin-left: auto;
}
