@import "../../utils/styles/colorConstants.scss";

.header-div-middle {
  background-color: $PURE_WHITE_COLOR;
  padding: 15px;
  display: flex;
  width: inherit;
  height: 12%;
}

.input-group,
.dropdown {
  margin-top: 13px;
}

.input-group {
  margin-left: 20px;
  width: 30%;
}

.dropdown {
  margin-left: auto;
  margin-right: 20px;
}

.dropdown-item {
  text-align: center;
}
