@import "../../utils/styles/colorConstants.scss";

.upper-div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 88%;
  margin-left: 0px;
  padding: 0;
}

.header-div-left {
  background-color: $FRIENDS_HEADING_COLOR;
  width: inherit;
  height: 12%;
}

.header-div-left img {
  height: 100%;
  width: 100%;
}

.header-div-right {
  background-color: $PLAYLISTS_HEADING_COLOR;
  width: inherit;
  height: 12%;
}

.middle-col,
.left-col,
.right-col {
  padding: 0px;
  height: 100%;
}

.left-col {
  background-color: $SIDE_NAVBAR_COLORS;
}

.middle-col {
  background-color: $PURE_WHITE_COLOR;
}

.right-col {
  background-color: $SIDE_NAVBAR_COLORS;
}

.small-div-left,
.small-div-middle {
  width: inherit;
  height: inherit;
  background: bottom;
}

.playlist-logo,
.friends-logo {
  font-family: "Cute Font", cursive;
  font-size: 60px;
  text-align: center;
  color: $PURE_WHITE_COLOR;
}
