body {
  background-image: url("./assets/images/music-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
  height: -webkit-fill-available;
}
