@import "../../utils/styles/colorConstants.scss";

.home-container {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/images/home-page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-position: right;
  background-size: cover;
}

.spinner-grow {
  justify-content: center;
}
