@import "../../utils/styles/colorConstants.scss";

// body {
//   background-image: url("../../assets/images/home-page-bg.jpg");
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-position: right;
//   background-size: cover;
// }

.music-bar {
  background-color: $MUSIC_BAR_BG_COLOR;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12%;
  display: flex;
  color: $SONG_DIV_TEXT_COLOR;
  padding: 25px;
}

.spinner-grow {
  justify-content: center;
}
